doctype html
html
    head
        title Onenote Sync
        script(src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js")
        script(src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.min.js")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        img.logo(src='images/onenote.png')
        .block
            #onenote User not logged
            button#logout(onclick="logout()") Logout
            h4 Notebook
            #notes
            h4 Section
            #sections
            h4 Page
            #pages
            h4.tasks Tasks
            .tip#todos 0
            #tasks
        br
        br

        img.logo(src='images/todoist.png')
        .block
            #todoist User not connected
            button#connect(onclick="view.show('connection')") Connect
            button#disconnect(onclick="disconnect()") Disconnect
            h4 Projects
            #projects
            h4 Template
            input#template(value='#notebook - #page: #todo', autocomplete='off') 
            br
            br
            button#export(onclick='createTasks()' disabled) Export tasks
        br
        br
        
        .dialog#connection
            i.material-icons.close-icon(onclick="view.hide('connection')") close
            label User name:
            br
            input#name(autocomplete='off')
            br
            label Todoist API token:
            br
            input#token
            .footer
                button(onclick="connect()") Connect

        .dialog#alert
            h3#message No message...
            .footer
                button(onclick="view.hide('alert')") Close

        script(src='main.js')