doctype html
html
    head
        title Onenote Sync
        script(src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js")
        script(src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.min.js")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        img.logo#logo1(src='images/onenote.png')
        div.block
            div#user(style="display:inline-block;margin-right:20px") User not logged
            button#logout(onclick="logout()") Logout
            h4 Notebook
            div#notes
            h4 Section
            div#sections
            h4 Page
            div#pages
            h4.tasks Tasks
            div.tip#todos 0
            div#tasks
        br
        br

        img.logo#logo2(src='images/todoist.png')
        div.block
            div(style="display:inline-block;margin-right:20px") User not connected
            button(onclick="document.getElementById('connect').style.display = 'block'") Connect
            h4 Projects
            div#projects(style='display:inline-block;margin-right:10px')
            h4 Template
            input#template(style='width:350px', value='', autocomplete='off')
            br
            br
            button(onclick='createTasks()' disabled) Export tasks
        br
        br
        .dialog#connect
            i.material-icons.close-icon(onclick="document.getElementById('connect').style.display = 'none'") close
            label Todoist API token:
            br
            input#token
            div.footer
                button.create Connect
        script(src='main.js')